* {
    margin: 0;
    padding: 0;
}

body {
    padding-right: 6rem;
    padding-left: 3rem;
}

img {
    height: 9rem;
    width: 15rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
}

.logo {
    font-size: 2.5rem;
    text-decoration: underline;
}

.split_background {
    background-color: #1B1B1B;
    position: fixed;
    z-index: -1;
    right: 0;
    top: 0;
    width: 50vw;
    height: 100vh;
}

.nav {
    display: flex;
    width: 35%;
    /* gap: 1rem; */
    justify-content: space-between;
}

.page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "section-1" "section-2";
    height: 85vh;
}

.page-section {
    display: flex;
    flex-direction: column;
    padding-top: 20vh;
    align-items: center;
    gap: 2.5rem;
    width: 90%;
}

.page-section-1 {
    grid-template: section-1;
}

.page-section-2 {
    grid-template: section-2;
    padding-left: 6rem;
    color: #FFFFFF;
}


.home-page-heading {
    font-size: 3.25rem;
}

.home-page-heading-1 {
    align-self: flex-end;
}

.home-page-heading-2 {
    align-self: flex-start;
}

.home-page-description {
    font-size: 1.6rem;
}

.home-page-img {
    width: auto;
    height: 300px;
    align-self: flex-start;
}

.menu-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    gap: 40px;

    /* to hide scrollbar */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.menu-container::-webkit-scrollbar {
    display: none;
}

.menu-item {
    display: flex;
    border: solid;
    padding: 15px;
    padding-left: 20px;
    padding-right: 25px;
    gap: 20px;
}

.menu-item-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu-item-name {
    font-size: 32px;
}

.menu-item-description {
    display: flex;
    text-align: justify;
    font-size: 18px;
}

.menu_item_img {
    width: 150px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: solid;
}

.menu-form {
    display: flex;
    flex-direction: column;
    gap: 54px;
}

.menu-form-input-field, .menu-form-input-field:focus {
    height: 24px;
    width: 560px;
    border: solid;
    border-color: #FFFFFF;
    color: #FFFFFF;
    background-color: transparent;
    padding-left: 10px;
}

.menu-form-field {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-form-field-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.order_place_button {
    height: 40px !important;
    width: 120px !important;
    padding: 5px;
    align-self: flex-end;
}

.order-summary-container {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    gap: 15px;
    width: 100%;
}

.order-summary-greeting-1 {
    align-self: flex-start !important;
}

.section-heading-big {
    display: flex;
    flex-wrap: wrap;
    font-size: 92px;
    align-self: flex-end;
}

.section-heading-mid {
    display: flex;
    flex-wrap: wrap;
    font-size: 64px;
    align-self: flex-end;
}

.btn {
    width: 5rem;
    height: 2rem;
    text-decoration: none;
    border-style: solid;
}

.text-container {
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
}

.about-us-text {
    padding-top: 1rem;
    font-size: 1.5rem;
}

.info-field-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.info-field-label {
    font-size: 28px;
}

.label-mid {
    font-size: 18px;
}

.text-mid {
    font-size: 28px;
}

.info-field-text {
    font-size: 42px;
}